<div class="Block">
  <label id="lbl">Code </label>
  <input type="file" (change)="changeListener($event)">
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Uri</th>
    <th scope="col">Message</th>
    <th scope="col">host</th>
    <th scope="col">detailed message</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let country of data; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ country.properties.requestUri }}</td>
    <td>{{ country.properties.message }}</td>
    <td>{{ country.properties.hostname }}</td>
    <td>{{ country.properties.details.message }}</td>
  </tr>
  </tbody>
</table>
